.login-container {
  margin-top: 5%;
  margin-bottom: 5%;

  .login-form{
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);

    h3 {
      text-align: center;
      color: #333;
    }
  }

  form {
    padding: 10%;
  }
  
  .btnSubmit
  {
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
  }
}
