.error {
  .input-group-addon {
    color: #900;
    background-color: #fdd;
    border-color: #900;
  }

  input, .Select-control {
    color: #900;
    background-color: #f0e8e8;
    border-color: #900;
  }

  select {
    color: #900;
    background-color: #f0e8e8;
    border-color: #900;
  }
}

.error-message {
  color: #900;
  font-weight: bold;
}

.btn-link {
  height: 42px;
}